
/* Local styles
   (not much needed)
*/
html {
   background: #0f0f0f;
}

body {
   background: transparent;
   padding-top: 40px;
}

canvas {
    margin: 0 auto;
    display: block;
}

.example {
    color: #6F56FE;
    background-color: #2EFED2;
}
